<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>石鼓一中成绩管理</title>
  <link href="../static/layui/css/layui.css" rel="stylesheet">
  <script src="../static/layui/layui.js"></script>
</head>
<style>


</style>

<body>
<ul class="layui-nav layui-bg-gray">
  <li class="layui-nav-item"><a href="#">石鼓一中成绩管理</a></li>
  <li class="layui-nav-item"><a href="/search">查询成绩</a></li>
  <li class="layui-nav-item"><a href="/manage">管理成绩</a></li>
  <li class="layui-nav-item">
    <a href="javascript:;">更多</a>
    <dl class="layui-nav-child">
      <dd><a href="https://imshito.eu.org">MixMind</a></dd>
    </dl>
  </li>
</ul>

<div class="layui-panel" style="margin: 20px;">
  <div style="margin: 10PX;">

    <label for="" style="margin: 10PX;"><h1>你想要干什么？</h1></label>
  </div>
<div style="margin: 20px;">
  <div class="layui-panel " style="margin: 20px;" >
    <div style="margin: 10px;" class="btn">
     <a href="/search"><h1>查询成绩</h1> </a>
    
    </div>
  </div>
  <div class="layui-panel " style="margin: 20px;" >
    <div style="margin: 10px;" class="btn">
   <a href="/manage"><h1>管理成绩</h1></a>
      
    </div>
    
  </div>
</div>
  

</div>



<div class="layui-footer" style="text-align: center;">
  <!-- 底部固定区域 -->
  支持: MixMind
</div>
</body>
</html>